---
layout: default
---

<div class="home">

{% include socialshare.html %}

  <!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h3>{{post.title}}</h3>
  <p class="author">
    <span class="date">{{ post.date | date: '%B %d, %Y'  }}</span>
  </p>
  <div class="content">
    {{ post.excerpt | remove: '<p>' | remove: '</p>' | truncatewords: 50 }}

  </div>
  <span><a href="{{ post.url }}" class="pure-button">More...</a>

{% endfor %}

<!-- Add Pagination -->
 {% include pagination.html %}
<br />
</div>
