---
layout: default
---

<div class="home">

  <!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h2>{{post.title}}</h2>
  <p class="author">
    <span class="date">{{ post.date | date: '%B %d, %Y'  }}</span>
  </p>
  <div class="content">
    {{ post.excerpt | remove: '<p>' | remove: '</p>' }}

  </div>
  <span><a href="{{ post.url }}" class="pure-button">More...</a>

{% endfor %}

<!-- Add Pagination -->
 {% include pagination.html %}
<br />
<br />
  <p class="rss-subscribe"><a href="{{ "/feed.xml" | prepend: site.baseurl }}"><img alt="RSS" src="{{ "/assets/img/feed-icon-28x28.png" | prepend: site.baseurl}}"/></a></p>

</div>
