
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}

/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}




/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}


.profile-image{
   padding: 1px;
  display:inline-block;
  width: 198px;
  height:226px;
}

.button-rss {
            background: rgb(223, 117, 20); /* this is an orange */
        }
.button-link:hover, .button-link:active {
    border        : 1px solid #49bf9d;
    border-radius: 4px;
  	border-color: #49bf9d;
}

.avatar{
  margin: 0 0 1em 0;
  width: 6.25em;
  border-radius: 100%;
}
.avatar:before{
  display: none;
}
.avatar img{
  border-radius: 100%;
  width: 100%;
}
