/**
 * Site header
 */

/**
 * Site footer
 */

/**
 * Page content
 */
.page-content {

}

.page-heading {

}

.post-list {

}

.post-meta {

}

.post-link {

}



/**
 * Posts
 */
.post-header {

}

.post-title {

}

.post-content {
  a {
    color: #3b8bba;
    text-decoration: none;
}
a:visited {
    color: #265778;
}


}
