---
layout: default
---
<div class="post">

{% include socialshare.html %}
<br/>
  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
<br/>
<div id="post-nav" class="clearfix">
  {% if page.previous.url %}
    <a class="pure-button " style="float:left; font-size: 85%; background: rgb(66, 184, 221);  color:white;" href="{{page.previous.url}}"><i class="fa fa-angle-double-left" aria-hidden="true"></i> {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="pure-button" style="float:right; font-size: 85%; background: rgb(66, 184, 221); color:white; " href="{{page.next.url}}">{{page.next.title}} <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
  {% endif %}
</div>
<br/>
{% include comments.html %}

</div>
